@font-face {
  font-family: "Geomanist";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Geomanist"),
    url("../font/geomanist-regular-webfont.woff2") format("woff2"),
    url("../font/geomanist-regular-webfont.woff") format("woff");
}
